{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
